[user]
	name = {{ .full_name }}
	email = {{ .personal_email }}
[core]
  editor = cursor --wait
  ignorecase = false
[init]
	defaultBranch = main
[pull]
  rebase = true
[includeIf "gitdir:~/Dev/Projects/Work/"]
  path = ~/.config/git/config.work
