[merge]
command = "bash"
args = [
  "-c",
  'cp {{ `"{{ .Target }}"` }} {{ `"{{ .Target }}"` }}.base && cursor --wait --new-window --merge {{ `"{{ .Destination }}"` }} {{ `"{{ .Target }}"` }} {{ `"{{ .Target }}"` }}.base {{ `"{{ .Source }}"` }}',
]

{{ "" }}
{{/* boolean feature flags */}}
{{- $is_ephemeral_device := false -}} {{- /* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $is_headless_device := false -}} {{- /* true if this machine does not have a screen and keyboard */}}
{{- $is_personal_device := false -}} {{- /* true if this machine should have personal secrets */}}
{{- $is_work_device := false -}} {{- /* true if this machine is a work machine */}}

{{- $os_id := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $os_id = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode" "cursor") -}}
{{-   $is_ephemeral_device = true -}}
{{-   $is_headless_device = true -}}
{{- end -}}

{{- if contains $hostname "personal" -}}
{{-   $is_personal_device = true -}}
{{- else if contains $hostname "work" -}}
{{-   $is_work_device = true -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{-   if $is_ephemeral_device -}}
{{-     $is_ephemeral_device = promptBoolOnce . "is_ephemeral_device" "It looks like you are running in an ephemeral environment (e.g. a cloud or VM instance). Is this correct?" -}}
{{-   else -}}
{{-     $is_ephemeral_device = promptBoolOnce . "is_ephemeral_device" "Are you running in an ephemeral environment? (e.g. a cloud or VM instance)" -}}
{{-   end -}}
{{-   if $is_headless_device -}}
{{-     $is_headless_device = promptBoolOnce . "is_headless_device" "It looks like you are running in a headless environment (no screen and keyboard, only ssh or terminal). Is this correct?" -}}
{{-   else -}}
{{-     $is_headless_device = promptBoolOnce . "is_headless_device" "Are you running in a headless environment? (no screen and keyboard, only ssh or terminal)" -}}
{{-   end -}}
{{-   if $is_personal_device -}}
{{-     $is_personal_device = promptBoolOnce . "is_personal_device" "It looks like you are running on a personal machine. Is this correct?" -}}
{{-   else -}}
{{-     $is_personal_device = promptBoolOnce . "is_personal_device" "Are you running on a personal machine?" -}}
{{-   end -}}
{{-   if $is_work_device -}}
{{-     $is_work_device = promptBoolOnce . "is_work_device" "It looks like you are running on a work machine. Is this correct?" -}}
{{-   else -}}
{{-     $is_work_device = promptBoolOnce . "is_work_device" "Are you running on a work machine?" -}}
{{-   end -}}
{{- else -}}
{{-   $is_ephemeral_device = true -}}
{{-   $is_headless_device = true -}}
{{-   $is_personal_device = false -}}
{{-   $is_work_device = false -}}
{{- end -}}

{{- $full_name := promptStringOnce . "full_name" "What is your full name (for git config)?" -}}
{{- $personal_email := promptStringOnce . "personal_email" "What is your personal email (for git config)?" -}}
{{- $work_email := promptStringOnce . "work_email" "What is your work email (for git config)?" -}}
{{ "" }}

[data]
    is_ephemeral_device = {{ $is_ephemeral_device }}
    is_headless_device = {{ $is_headless_device }}
    is_personal_device = {{ $is_personal_device }}
    is_work_device = {{ $is_work_device }}
    os_id = {{ $os_id | quote }}
    hostname = {{ $hostname | quote }}
    full_name = {{ $full_name | quote }}
    personal_email = {{ $personal_email | quote }}
    work_email = {{ $work_email | quote }}
